<div class="card btn m-1" style="width: 18rem;" onclick="this.querySelector('a').click(); return true;"> <a href="/games/{{id}}/tournaments"></a>
  <div class="card-image mt-2">
    <figure class="image is-3by4">
      <img class="card-img-top" src="{{cover_art}}" alt="game art">
    </figure>
  </div>
</div>

