<div class="card btn m-1" style="width: 18rem;" onclick="this.querySelector('a').click(); return true;" <a href="/games/{{id}}/tournaments"></a>
  <img class="card-img-top" src="{{cover_art}}" alt="game art">
</div>
