<div class="card">
  <div class="column is-full">
    <h3>Create a New Tournament:</h3>
    <form class="form new-tournament-form">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="inputGame">Game:</label>
          <select id="inputGame" class="form-select form-select-lg">
            <option value="0">Choose...</option>
            <option value="17">Among Us</option>
            <option value="2">Counter Strike: Global Offensive</option>
            <option value="10">DOTA 2</option>
            <option value="5">F1 22</option>
            <option value="6">FIFA 22</option>
            <option value="18">Gang Beasts</option>
            <option value="11">Heroes of the Storm</option>
            <option value="9">League of Legends</option>
            <option value="14">Marvel v Capcom 3</option>
            <option value="13">Mortal Kombat 11</option>
            <option value="7">NBA 2k22</option>
            <option value="3">Overwatch</option>
            <option value="8">PGA 2k21</option>
            <option value="19">Pummel Party</option>
            <option value="4">Rainbow Six Siege</option>
            <option value="20">Rocket League</option>
            <option value="12">Smite</option>
            <option value="15">Street Fighter 5</option>
            <option value="16">Tekken 7</option>
            <option value="1">Valorant</option>
          </select>
        </div>
      </div>
      <div class="column is-full">
        <div class="form-group">
          <label for="tournament-name">Tournament name:</label>
          <input class="form-input" type="text" id="tournament-name" name="tournament-name" />
        </div>
      </div>
      <div class="column is-full">
        <div class="form-group">
          <label for="tournament-players">How many players:</label>
          <input class="form-input" type="number" id="tournament-players" name="tournament-players" />
        </div>
      </div>
      <div class="column is-full">
        <div class="form-group">
          <label for="tournament-desc">Brief decription:</label>
          <textarea class="form-input" id="tournament-desc" name="tournament-desc"></textarea>
        </div>
      </div>
      <div class="column is-full">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
  <script src="./js/newTournament2.js"></script>