
<!-- Loop over each object in the games array and add to rows based on game type-->
<Section class="column is-full m-1">
  <h2>Shooters</h2>
  <div class="row">
  {{#each games as |game| }}
  {{#if (eq game.game_type "shooter")}}
  {{> game-cards}}
  {{/if}}
  {{/each}}
</div>
</Section>
<Section class="column is-full m-1">
  <h2>Fighters</h2>
  <div class="row ">
  {{#each games as |game| }}

  {{#if (eq game.game_type "fighter")}}
  {{> game-cards}}
  {{/if}}
  {{/each}}
</div>
</Section>
<Section class="column is-full m-1">
  <h2>Sports</h2>
  <div class="row ">
  {{#each games as |game| }}
  {{#if (eq game.game_type "sport")}}
  {{> game-cards}}
  {{/if}}
  {{/each}}
</div>
</Section>
<Section class="column is-full m-1">
  <h2>MOBA</h2>
  <div class="row ">
  {{#each games as |game| }}
  {{#if (eq game.game_type "moba")}}
  {{> game-cards}}
  {{/if}}
  {{/each}}
</div>
</Section>
<Section class="column is-full m-1">
  <h2>Party</h2>
  <div class="row ">
  {{#each games as |game| }}
  {{#if (eq game.game_type "party")}}
  {{> game-cards}}
  {{/if}}
  {{/each}}
</div>
</Section>