<!-- Loop over each object in the games array -->
{{#each games as |game| }}
<div class="card btn" style="width: 18rem;">
  <img class="card-img-top" src="{{game.cover_art}}" alt="game art">
</div>
{{/each}}