<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>

<body>
    <div class="login">
        
        <div class="form">
            {{!-- <span class="tittle">Login</span>
             <form class="login-form">
                <input type="text" placeholder="username"/>
                <input type="password" placeholder="password"/>
                <button>login Now</button>
                <div class="signup">
                <p class="message">Not Registered?<a href="#"> Register Now</a></p>
            </div>
            </form> --}}
            <span class="tittle">Register</span>
               <form class="register-form">
             <input type="text" placeholder="enter name"/>
             <input type="text" placeholder="enter email"/>
            <input type="text" placeholder="enter password"/>
            <input type="text" placeholder="re-enter password"/>
            
            <button>Create</button>
            <p class="message">Already Registered?<a href="#"> Login</a></p>
            </form> 
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="/public/js/login.js"></script>
    
</body>
</html> -->