<!-- Loop over each object in the tournaments array -->
{{#each tournaments as |tournament|}}
  <div class="row mb-4 tournament">
    <div class="col-md-5">
      <h2>
        <a
          href="/tournament/{{tournament.id}}"
        >{{tournament.tournament_name}}</a>
      </h2>
    </div>
    <div class="col-md-5">
      <p>Participants:</p>
      {{#each players as |player|}}
        <p>{{player.player_name}}</p>
      {{/each}}
    </div>
  </div>
{{/each}}