/* body{
    background-color: black;
    background-image: url(/playlogo.png);

}
.login{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background-color: rgba(94, 21, 21, 0.679);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: 'Press Start 2P', cursive;
   outline: 1;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 20px;
   
}

.form button{
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    outline: 0;
    background: #2d692f;
    width: 100%;
    border: 0;
    padding: 15px;
    color:#f2f2f2;
    cursor: pointer;
}

.login .form .tittle {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: #f2f2f2;
}

 */

 header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }